<!--  <button (click)="evaluateVendedor()">Evaluar Vendedor</button>
 -->
 <div *ngIf="evaluacion">
  <div class="container py-5 m-5">
    <button class="btn-primary" (click)="evaluateVendedor()">Evaluar Vendedor</button>

    <div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
      <div class="row w-100">
        <div class="col-6 col-sm-4 col-md-3 col-lg-3 py-2" *ngFor="let key of objectKeys(evaluacion)">
          <button type="button" class="btn btn-light btn-custom" (click)="openModal(getEvaluacionText3(key))">
            <div class="h-100 p-2 text-center d-flex flex-column align-items-center justify-content-center">
              <h5>{{ transformarTexto(key) }}</h5>
              <strong [innerHTML]="getEvaluacionText2(key)"></strong>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
  
</div>


 <div id="myModal" class="modal "  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-content">
    <span class="close">&times; Consejos</span>
    <div id="modalContent" class="text-center" style="color: black;"></div>
  </div>
</div> 




  