<!-- chat.component.html -->

<div class="chat-container">
  <div *ngFor="let message of messages" class="message" [ngClass]="{'user-message': message.sender === 'user', 'bot-message': message.sender === 'bot'}">
    {{ message.sender === 'user' ? 'You:' : 'Bot:' }} {{ message.text }}
  </div>
</div>
<div class="input-container">
  <input type="file" (change)="uploadFile($event)">
  <input type="text" placeholder="Escribe un mensaje..." [(ngModel)]="userInput" (keyup.enter)="sendMessage()">
  <button (click)="sendMessage()">Enviar</button>
</div>
<button (click)="sonido()">Escuchar</button>

<div>
  <h1>Voice recognition</h1>
  <button (click)="toggleRecording()">
    {{ isRecording ? 'Stop Recording' : 'Start Recording' }}
  </button>
  <select (change)="onDeviceChange($event)">
    <option *ngFor="let device of availableDevices" [value]="device.deviceId">
      {{ device.label || 'Unnamed device' }}
    </option>
  </select>
  <canvas #visualizerCanvas id="visualizerCanvas" style="background: rgb(255, 255, 255);"></canvas>
</div>
