<!-- <webcam
      [width]="640"
      [height]="480"
      [trigger]="trigger"
      [allowCameraSwitch]="true"
      [videoOptions]="videoOptions"
      (imageCapture)="handleImageCapture($event)"
    ></webcam>
    <button (click)="triggerSnapshot()" [disabled]="isTriggerDisabled">Capturar Imagen</button>
    <button *ngIf="imageCaptured" (click)="sendImageToOpenAI()">Enviar a OpenAI</button>
   -->

   <div>
    <button (click)="toggleWebcam()">{{ showWebcam ? 'Ocultar' : 'Mostrar' }} Cámara</button>
    <button (click)="toggleCapture()" [disabled]="!showWebcam">{{ allowCapture ? 'Detener' : 'Iniciar' }} Captura Automática</button>
  </div>
  
  <webcam
    *ngIf="showWebcam"
    [width]="640"
    [height]="480"
    [trigger]="trigger"
    [allowCameraSwitch]="true"
    [videoOptions]="videoOptions"
    (imageCapture)="handleImageCapture($event)"
  ></webcam>
  
  <button (click)="triggerSnapshot()" [disabled]="isTriggerDisabled || !showWebcam">Capturar Imagen</button>
  <button *ngIf="imageCaptured" (click)="sendImageToOpenAI()">Enviar a OpenAI</button>
  